* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 182, 191);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}



nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    font-size: 20px;
}




.banner img{
    width: 100%;
    height: 700px;
    text-align: center;
}

 

h2 {
    margin-top: 20px;
    margin: 8px;
    font-weight: 800;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 13px;
    margin-top: 24px;
    font-weight: 600;
    color: #333;
    font-size: 17px;
}

.boxes {
    justify-content: space-around;
    margin: 40px 0;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
}
 .box img {
    width:100%;
    height:380px ;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px 10px 10px 10px;
 }
.box {
    width: 30%;
    height: 380px;
    border-radius: 5px;
    margin-bottom: 25px;
}

footer {
    text-align: center;
}




